#map {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.default-marker-icon {
    color: #3899a2;
    font-size: 32px;
}

.favourite-marker-icon {
    color: indianred;
    font-size: 32px;
}

.popup-container {
    font-size: 14px;
    line-height: 1.5;
}

.popup-container h4 {
    margin: 0 0 0.5em 0;
    font-size: 16px;
}

.popup-container a {
    color: #007BFF;
    text-decoration: none;
}

.popup-container a:hover {
    text-decoration: underline;
}

.popup-container .label {
    font-weight: bold;
}

.popup-container .rating {
    display: inline-block;
    color: #FFD700; /* Gold color for stars */
}